body{
	background-color: hsl(0, 0%, 98%);
	font-family: 'Epilogue', sans-serif;
}
h1{
	font-size: 5rem;
	font-weight: bold;
}
p{
	color: hsl(0, 0%, 41%);
	font-size: 1.2rem;
}
h1, p, .bottom-btn{
	margin: 7% 0;
}
.navbar-brand{
	font-size: 2rem;
	font-weight: bold;
}
.nav-item{
	margin: 2% 3%;
	color:hsl(0, 0%, 8%);
}
.nav-btn{
	margin-right: 2%;
	color:hsl(0, 0%, 41%);
}
.login-btn:hover{
	color: black;
}
.title{
	text-align: left;
	padding: 6% 4%;
}
.hero-image {
	width : 80%;
	height: auto;
	margin-left: 2%;
}
.bottom-btn{
	font-size: 1.2rem;
	padding: 2% 5%;
	border-radius: 12px;
}
.client-1-logo{
	margin: 6% 3% 6% 0;
}
.client-2-logo, .client-3-logo, .client-4-logo{
	margin: 6% 3%;
}
.attribution{
	text-align: center;
	color: hsl(0, 0%, 41%);
}
.dropdown-item{
	font-size: 0.8rem;
	color: hsl(0, 0%, 41%);
}
.dropdown-icon{
	margin-right: 10px;
}
.dropdown-menu{
	display: none;
	border: none;
	box-shadow: 5px 5px 18px hsl(0, 0%, 80%);
}
.nav-item:hover .dropdown-menu{
	display: block;
}
